.container {
    height: auto;
    width: 180px;
    background-color: rgba(0, 0, 0, 0.8);
    color: whitesmoke;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 15;
    visibility: hidden;
    border: thin solid whitesmoke;
    border-radius: 5px;
    box-shadow: 0 0 10px;
    padding-bottom: 2px;
}

.show {
    visibility: visible;
}

.calcHead {
    display: flex;
    flex: 1;
    justify-content: space-between;
    width: auto;
    font-size: 16px;
    color: rgb(33, 51, 70);
    background-color: orange;
    padding: 5px;
    border: thin solid whitesmoke;
    border-radius: 5px;
    margin: 4px;
}

.calcHead h3 {
    padding: 0 5px;
    margin: 0 0 0 5px;
}

.calcHead button {
    cursor: pointer;
    background-color: rgb(33, 51, 70);
    color: white;
    border: medium solid rgb(33, 51, 70);
    border-radius: 50%;
    padding: 2px 5px;
    margin: 0;
    user-select: none;
}

.screen {
    width: 160px;
    height: 28px;
    background-color: transparent;
    color: whitesmoke;
    font-size: 24px;
    text-align: right;
    border: thin solid whitesmoke;
    border-radius: 5px;
    padding: 3px 5px;
    margin: 2px 4px;
    overflow: hidden;
}

.keypad button {
    cursor: pointer;
    height: 40px;
    width: 40px;
    font-size: 18px;
    color: whitesmoke;
    background-color: transparent;
    border: thin solid whitesmoke;
    border-radius: 5px;
    margin: 2px;
}

.keypad button img {
    width: 15px;
    height: 15px;
}

.calcRow {
    margin: 0 2px;
}