.transactionItem {
    background-color: transparent;
    color: whitesmoke;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 92%;
    font-size: 16px;
    padding: 5px;
    box-shadow: 0 0 5px;
    margin: 10px auto !important;
    border: thin solid whitesmoke;
    transition: all 0.2s ease;
    will-change: border;
}

.transactionItem:first-of-type {
    margin-top: 20px !important;
}

.plus:hover {
    border: thin solid #2ecc71 !important;
}

.minus:hover {
    border: thin solid #f86a5b !important;
}

.transAmount {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.transDescrip, .transDate {
    margin-left: 15px;
}

.transAmount span {
    position: relative;
    right: -35px;
}

.delBtn {
    cursor: pointer;
    position: relative;
    top: -60%;
    right: -20%;
    background-color: white;
    color: black;
    border: thin solid #f86a5b;
    border-radius: 50%;
    height: 25px;
    width: 25px;
    padding: 0;
    visibility: hidden;
    transition: visibility 0.2s ease;
    will-change: visibility;
}

.editBtn {
    height: 25px;
    width: 25px;
    cursor: pointer;
    position: relative;
    top: -60%;
    right: -15%;
    background-color: white;
    color: black;
    border: thin solid #2ecc71;
    border-radius: 50%;
    padding: 0;
    visibility: hidden;
    transition: visibility 0.2s ease;
    will-change: visibility;
}

.transactionItem:hover .delBtn, .transactionItem:hover .editBtn {
    visibility: visible;
}

.editBtn img {
    height: 10px;
    width: 10px;
}

@media (max-width: 1000px) {
    .transactionItem {
        width: 89%;
    }
}