.container {
    width: 95%;
    height: 530px;
    border: thin solid whitesmoke;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.container ul {
    height: 95%;
    list-style: none;
    padding: 0;
    overflow-y: auto;
    overflow-x: hidden;
    margin: 0 0 16px 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.container ul::-webkit-scrollbar {
    width: 5px;
}
.container ul::-webkit-scrollbar-thumb {
    background-color: whitesmoke;
    border-radius: 3px;
}

@media (max-width: 1000px) {
    .container {
        height: 560px;
    }
}
@media (max-width: 909px) {
    .container {
        height: 575px;
    }
}
@media (max-width: 500px) {
    .container {
        transform: translate(-7px, 0);
    }
}

/* CSS for Empty History */
.addIcon {
    width: 50px;
    height: 50px;
    display: block;
    margin: 0 auto;
}

.text {
    text-align: center;
}

.noTransaction {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media (max-width: 750px) {
    .emptyContainer {
        height: fit-content;
    }
    .addIcon {
        margin-top: 50px;
    }
    .text {
        margin-bottom: 50px;
    }
}
