html, body, #root {
    margin: 0;
    height: 100vh;
    width: 100vw;
    color: white;
    overflow-x: hidden;
    overflow-y: visible;
}

.container {
    background: linear-gradient(to right, hsl(120, 25%, 18%), rgb(46, 40, 31));
    padding: 100px 0 40px;
    display: grid;
    grid-template-columns: 7fr 40fr 6fr 40fr 7fr;
    grid-template-rows: 1fr;
}

.leftContainer {
    width: 100%;
    grid-column: 2/3;
    justify-self: center;
}
.rightContainer {
    width: 100%;
    grid-column: 4/5;
    justify-self: center;
}

@media (max-width: 850px) {
    .container {
        display: flex;
        background: linear-gradient(to bottom, hsl(120, 25%, 18%), rgb(46, 40, 31));
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .leftContainer {
        width: 70%;
        margin-bottom: 40px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .rightContainer {
        width: 70%;
    }
}

@media (max-width: 500px) {
    .leftContainer {
        width: 85%;
    }
    .rightContainer {
        width: 85%;
    }
}